mat-drawer-content {
    height: 100vh;
}

mat-drawer {
    width: 20rem;
    padding: 0px;
    flex-wrap: nowrap
}

mat-drawer-container {
    background: rgba(37, 38, 64, 1);
    background: -moz-linear-gradient(-45deg, rgba(37, 38, 64, 1) 0%, rgba(37, 38, 64, 1) 0%, rgba(21, 22, 38, 1) 72%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(37, 38, 64, 1)), color-stop(0%, rgba(37, 38, 64, 1)), color-stop(72%, rgba(21, 22, 38, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(37, 38, 64, 1) 0%, rgba(37, 38, 64, 1) 0%, rgba(21, 22, 38, 1) 72%);
    background: -o-linear-gradient(-45deg, rgba(37, 38, 64, 1) 0%, rgba(37, 38, 64, 1) 0%, rgba(21, 22, 38, 1) 72%);
    background: -ms-linear-gradient(-45deg, rgba(37, 38, 64, 1) 0%, rgba(37, 38, 64, 1) 0%, rgba(21, 22, 38, 1) 72%);
    background: linear-gradient(135deg, rgba(37, 38, 64, 1) 0%, rgba(37, 38, 64, 1) 0%, rgba(21, 22, 38, 1) 72%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#252640', endColorstr='#151626', GradientType=1);
}