/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.3);
}

.padder {
    padding: 1%
}

background: rgba(70, 74, 114, 1);
background: -moz-linear-gradient(left, rgba(70, 74, 114, 1) 0%, rgba(7, 13, 54, 1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70, 74, 114, 1)), color-stop(100%, rgba(7, 13, 54, 1)));
background: -webkit-linear-gradient(left, rgba(70, 74, 114, 1) 0%, rgba(7, 13, 54, 1) 100%);
background: -o-linear-gradient(left, rgba(70, 74, 114, 1) 0%, rgba(7, 13, 54, 1) 100%);
background: -ms-linear-gradient(left, rgba(70, 74, 114, 1) 0%, rgba(7, 13, 54, 1) 100%);
background: linear-gradient(to right, rgba(70, 74, 114, 1) 0%, rgba(7, 13, 54, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464a72', endColorstr='#070d36', GradientType=1);
mat-divider {
    margin: 1rem
}