<div class="row primary">
    <div class="col-12 row d-flex align-items-end identificacion">
        <div class="col-12 row nombre d-flex flex-row align-items-center">
            <div class="img"></div>
            Martin Sanchez
        </div>
    </div>
</div>
<div class="row bg primary">
    <mat-toolbar> <button mat-button [routerLink]="['/avisos']" href="#">Avisos</button> </mat-toolbar>
    <mat-toolbar> <button mat-button [routerLink]="['/clientes']">Clientes</button> </mat-toolbar>
</div>